#Landing {
    font-family: Arial, Helvetica, sans-serif
}
#dashboard_header {
    margin: 10px;
    font-size: 20pt;
    font-weight: 600;
}

#profile_header {
    margin: 10px;
    font-size: 18pt;
    font-weight: 600;
}

#credit {
    color: green;
    margin-left: 10px;
}

.profile_terms {
    margin: 10px;
    font-weight: 600;
    font-size: 12pt;
}

.btn-floating {
    position: absolute;
    right: 20px;
    bottom: 0px;
}
.card {
    background-color: #26a69a;
    border-radius: 10px;
}

.cardBot {
    padding: 10px;
    border-top: 2px solid gray
}

.cardTop {
    padding: 10px;
}

.cardBot > p {
    display: inline-block;
    margin: 5px 10px;
    color: #ffca28;
    position: relative;
    top: 2px;
}

.cardTop > p {
    display: block;
    margin: 5px 0px;
    color: white;
}

.cardTitle {
    font-size: 24px;
    color: white;
    margin: 10px auto 20px auto;
}