#Landing {
    font-family: Arial, Helvetica, sans-serif
}
#dashboard_header {
    margin: 10px;
    font-size: 20pt;
    font-weight: 600;
}

#profile_header {
    margin: 10px;
    font-size: 18pt;
    font-weight: 600;
}

#credit {
    color: green;
    margin-left: 10px;
}

.profile_terms {
    margin: 10px;
    font-weight: 600;
    font-size: 12pt;
}

.btn-floating {
    position: absolute;
    right: 20px;
    bottom: 0px;
}
