.col {
    font-size: large;
    min-width: 50px;
    padding-left: 15px;
    padding-right: 15px;
}

.right > li:hover, a >  li:hover{
    background-color: #0288d1;
    cursor: pointer;
}

.nav-wrapper {
    background-color: #29b6f6 !important;
}